
Website/obj/Website.csproj.nuget.dgspec.json
Website/obj/project.nuget.cache
Website/obj/project.assets.json
Website/obj/Debug/netcoreapp3.1/Website.csprojAssemblyReference.cache
Website/.vs/Website/v16/.suo
Website.Domain/obj/Website.Domain.Implementations.csproj.nuget.dgspec.json
Website.Domain/obj/project.nuget.cache
Website.Domain/obj/project.assets.json
Website.Domain/obj/Debug/netstandard2.0/Website.Domain.Implementations.csprojAssemblyReference.cache
Website.Domain.Contracts/obj/Website.Domain.Contracts.csproj.nuget.dgspec.json
Website.Domain.Contracts/obj/project.nuget.cache
Website.Domain.Contracts/obj/project.assets.json
Website.Domain.Contracts/obj/Debug/netstandard2.0/Website.Domain.Contracts.csprojAssemblyReference.cache
Website.DAL.Migrations/obj/Website.DAL.Migrations.csproj.nuget.dgspec.json
Website.DAL.Migrations/obj/project.nuget.cache
Website.DAL.Migrations/obj/project.assets.json
Website.DAL.Implemetations/obj/Website.DAL.Implementations.csproj.nuget.dgspec.json
Website.DAL.Implemetations/obj/project.nuget.cache
Website.DAL.Implemetations/obj/project.assets.json
Website.DAL.Implemetations/obj/Debug/netstandard2.0/Website.DAL.Implementations.csprojAssemblyReference.cache
Website.DAL.Contacts/obj/Website.DAL.Contacts.csproj.nuget.dgspec.json
Website.DAL.Contacts/obj/project.nuget.cache
Website.DAL.Contacts/obj/project.assets.json
Website.DAL.Contacts/obj/Debug/netstandard2.0/Website.DAL.Contacts.csprojAssemblyReference.cache
