Website/obj/Website.csproj.nuget.dgspec.json
Website/obj/project.nuget.cache
Website/obj/project.assets.json
Website/obj/Debug/netcoreapp3.1/Website.csprojAssemblyReference.cache
Website/.vs/Website/v16/.suo
Website.Domain/obj/Website.Domain.Implementations.csproj.nuget.dgspec.json
Website.Domain/obj/project.nuget.cache
Website.Domain/obj/project.assets.json
Website.Domain/obj/Debug/netstandard2.0/Website.Domain.Implementations.csprojAssemblyReference.cache
Website.Domain.Contracts/obj/Website.Domain.Contracts.csproj.nuget.dgspec.json
Website.Domain.Contracts/obj/project.nuget.cache
Website.Domain.Contracts/obj/project.assets.json
Website.Domain.Contracts/obj/Debug/netstandard2.0/Website.Domain.Contracts.csprojAssemblyReference.cache
Website.DAL.Migrations/obj/Website.DAL.Migrations.csproj.nuget.dgspec.json
Website.DAL.Migrations/obj/project.nuget.cache
Website.DAL.Migrations/obj/project.assets.json
Website.DAL.Implemetations/obj/Website.DAL.Implementations.csproj.nuget.dgspec.json
Website.DAL.Implemetations/obj/project.nuget.cache
Website.DAL.Implemetations/obj/project.assets.json
Website.DAL.Implemetations/obj/Debug/netstandard2.0/Website.DAL.Implementations.csprojAssemblyReference.cache
Website.DAL.Contacts/obj/Website.DAL.Contacts.csproj.nuget.dgspec.json
Website.DAL.Contacts/obj/project.nuget.cache
Website.DAL.Contacts/obj/project.assets.json
Website.DAL.Contacts/obj/Debug/netstandard2.0/Website.DAL.Contacts.csprojAssemblyReference.cache
Website/.vs/Website/v16/.suo
*.cache
Website.Domain.Contracts/bin/Debug/netstandard2.0/Website.Domain.Contracts.dll
Website.Domain.Contracts/bin/Debug/netstandard2.0/Website.Domain.Contracts.pdb
Website.Domain.Contracts/obj/Debug/netstandard2.0/Website.Domain.Contracts.dll
Website.Domain.Contracts/obj/Debug/netstandard2.0/Website.Domain.Contracts.pdb
Website.Domain/bin/Debug/netstandard2.0/Website.Domain.Contracts.dll
Website.Domain/bin/Debug/netstandard2.0/Website.Domain.Contracts.pdb
Website.Domain/bin/Debug/netstandard2.0/Website.Domain.Implementations.dll
Website.Domain/bin/Debug/netstandard2.0/Website.Domain.Implementations.pdb
Website.Domain/obj/Debug/netstandard2.0/Website.Domain.Implementations.csprojAssemblyReference.cache
Website.Domain/obj/Debug/netstandard2.0/Website.Domain.Implementations.dll
Website.Domain/obj/Debug/netstandard2.0/Website.Domain.Implementations.pdb
Website/.vs/Website/v16/.suo
Website/bin/Debug/netcoreapp3.1/Website.dll
Website/bin/Debug/netcoreapp3.1/Website.Domain.Contracts.dll
Website/bin/Debug/netcoreapp3.1/Website.Domain.Contracts.pdb
Website/bin/Debug/netcoreapp3.1/Website.Domain.Implementations.dll
Website/bin/Debug/netcoreapp3.1/Website.Domain.Implementations.pdb
Website/bin/Debug/netcoreapp3.1/Website.pdb
Website/bin/Debug/netcoreapp3.1/Website.Views.dll
Website/bin/Debug/netcoreapp3.1/Website.Views.pdb
Website/obj/Debug/netcoreapp3.1/Website.csprojAssemblyReference.cache
Website/obj/Debug/netcoreapp3.1/Website.dll
Website/obj/Debug/netcoreapp3.1/Website.pdb
Website/obj/Debug/netcoreapp3.1/Website.Views.dll
Website/obj/Debug/netcoreapp3.1/Website.Views.pdb
*.cache
Website.Domain.Contracts/bin/Debug/netstandard2.0/Website.Domain.Contracts.dll
Website.Domain.Contracts/bin/Debug/netstandard2.0/Website.Domain.Contracts.pdb
Website.Domain.Contracts/obj/Debug/netstandard2.0/Website.Domain.Contracts.dll
Website.Domain.Contracts/obj/Debug/netstandard2.0/Website.Domain.Contracts.pdb
Website.Domain/bin/Debug/netstandard2.0/Website.Domain.Contracts.dll
Website.Domain/bin/Debug/netstandard2.0/Website.Domain.Contracts.pdb
Website.Domain/bin/Debug/netstandard2.0/Website.Domain.Implementations.dll
Website.Domain/bin/Debug/netstandard2.0/Website.Domain.Implementations.pdb
Website.Domain/obj/Debug/netstandard2.0/Website.Domain.Implementations.csprojAssemblyReference.cache
Website.Domain/obj/Debug/netstandard2.0/Website.Domain.Implementations.dll
Website.Domain/obj/Debug/netstandard2.0/Website.Domain.Implementations.pdb
Website/.vs/Website/v16/.suo
Website/bin/Debug/netcoreapp3.1/Website.dll
Website/bin/Debug/netcoreapp3.1/Website.Domain.Contracts.dll
Website/bin/Debug/netcoreapp3.1/Website.Domain.Contracts.pdb
Website/bin/Debug/netcoreapp3.1/Website.Domain.Implementations.dll
Website/bin/Debug/netcoreapp3.1/Website.Domain.Implementations.pdb
Website/bin/Debug/netcoreapp3.1/Website.pdb
Website/bin/Debug/netcoreapp3.1/Website.Views.dll
Website/bin/Debug/netcoreapp3.1/Website.Views.pdb
Website/obj/Debug/netcoreapp3.1/Website.csprojAssemblyReference.cache
Website/obj/Debug/netcoreapp3.1/Website.dll
Website/obj/Debug/netcoreapp3.1/Website.pdb
Website/obj/Debug/netcoreapp3.1/Website.Views.dll
Website/obj/Debug/netcoreapp3.1/Website.Views.pdb
Website.Domain.Contracts/bin/Debug/netstandard2.0/Website.Domain.Contracts.dll
Website.Domain.Contracts/bin/Debug/netstandard2.0/Website.Domain.Contracts.pdb
Website.Domain.Contracts/obj/Debug/netstandard2.0/Website.Domain.Contracts.dll
Website.Domain.Contracts/obj/Debug/netstandard2.0/Website.Domain.Contracts.pdb
Website.Domain/bin/Debug/netstandard2.0/Website.Domain.Contracts.dll
Website.Domain/bin/Debug/netstandard2.0/Website.Domain.Contracts.pdb
Website.Domain/bin/Debug/netstandard2.0/Website.Domain.Implementations.dll
Website.Domain/bin/Debug/netstandard2.0/Website.Domain.Implementations.pdb
Website.Domain/obj/Debug/netstandard2.0/Website.Domain.Implementations.csprojAssemblyReference.cache
Website.Domain/obj/Debug/netstandard2.0/Website.Domain.Implementations.dll
Website.Domain/obj/Debug/netstandard2.0/Website.Domain.Implementations.pdb
Website/.vs/Website/v16/.suo
Website/bin/Debug/netcoreapp3.1/Website.dll
Website/bin/Debug/netcoreapp3.1/Website.Domain.Contracts.dll
Website/bin/Debug/netcoreapp3.1/Website.Domain.Contracts.pdb
Website/bin/Debug/netcoreapp3.1/Website.Domain.Implementations.dll
Website/bin/Debug/netcoreapp3.1/Website.Domain.Implementations.pdb
Website/bin/Debug/netcoreapp3.1/Website.pdb
Website/bin/Debug/netcoreapp3.1/Website.Views.dll
Website/bin/Debug/netcoreapp3.1/Website.Views.pdb
Website/obj/Debug/netcoreapp3.1/Website.csprojAssemblyReference.cache
Website/obj/Debug/netcoreapp3.1/Website.dll
Website/obj/Debug/netcoreapp3.1/Website.pdb
Website/obj/Debug/netcoreapp3.1/Website.Views.dll
Website/obj/Debug/netcoreapp3.1/Website.Views.pdb
**/Debug/ 
Website.DAL.Contacts/bin/Debug/ 
Website.DAL.Implemetations/bin/Debug/ 
Website.DAL.Migrations/bin/Debug/ 
Website.Domain/bin/Debug/ 
Website.Domain.Contracts/bin/Debug/ 
Website/bin/Debug/ 
Website.DAL.Contacts/obj/ 
Website.DAL.Implemetations/obj/ 
Website.DAL.Migrations/obj/ 
Website.Domain/obj/ 
Website.Domain.Contracts/obj/
*.v2
*.testlog
*.v2
*.v2
Website/.vs/Website/v16/TestStore/0/testlog.manifest
