body {
    background: url(https://w-dog.ru/wallpapers/15/18/292177934449143/seryj-linii-fon.jpg) fixed;
	  font-family: sans-serif;
}
.blocks {
	  display: flex;
	  position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, 150px);
	  width: 70%;
	  height: auto;
	  background: #222;
	  flex-direction: column;
	  margin: 0;
	  padding: 0;
}
.block{
	  display: flex;
	  min-height: 80px;
    color: white;
    text-transform: uppercase;
    border-radius: .125em;
    background: #262626;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 1px;
}
.create-category:hover, 
.design-manage:hover,
.rules-manage:hover,
.open-categories:hover,
.show-all:hover,
.hide-all:hover{
	  background: #1B1B1B;
	  transition: 0.8s;
}

.block::after{
    content:'';
    position: absolute;
    z-index: -1;
    top: -.225em;
    left: -.225em;
    width: calc(100% + .45em);
    height: calc(100% + .45em);
    border-radius: .25em;
    background-image: linear-gradient(45deg,#9910AD, #9114D2, #8514D2, #2414D2, #1452D2);
    background-size: 200%;
    animation: animateborder 3s ease infinite;
}

.block:hover::after{
    animation-play-state: running;
}

@keyframes animateborder {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}

.hide-all {
   display: none;
}

.hidden-wrapper {
   flex-direction: column;
   display: none;
   background: #262626;
   height: auto;
   padding: 20px;
}

.visible {
   display: flex;
}

.unvisible {
   display: none;
}
.block-inside {
   display: flex;
   margin: 0;
   border-bottom: 1px solid #999;
   color: white;
   font-weight: 100;
   font-size: 0.9em;
   text-transform: uppercase;
}
.btn {
  border: none;
  background: #282828;
  color: white;
  margin: 8px;
  cursor: pointer;
  font-size: 0.9em;
}
.btn:hover {
  background: #1E1E1E;
  color: white;
}
.btn:focus {
    outline: none;
}