body {
  font-family: sans-serif;
  background: #D3D3D3;
}
.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  border-radius: 20px;
  opacity: 0.8;
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.4em;
}
.box input[type="text"], .box input[type="password"] {
  background: none;
  display: block;
  text-align: center;
  border: 2px solid #373ACD;
  padding: 14px 10px;
  width: 230px;
  outline: none;
  color: white;
  font-size: 0.9em;
  border-radius: 25px;
}
.box input[type="text"]:focus, .box input[type="password"]:focus {
  width: 270px;
  transition: 0.50s;
  border-color: #7A0FEB;
}
.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 35px auto;
  text-align: center;
  border: 2px solid #373ACD;
  outline: none;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}
.box input[type="submit"]:hover {
  background: #7A0FEB;
  transition: 0.35s;
  border: 2px solid #440ABD;
}
.question {
  color: white;
}
a {
  color: #8A28F0;
  text-decoration: none;
}
a:hover {
  color: #9743EF;
  transition: 0.25s;
}
