.box input[type="text"], .box input[type="password"] {
  margin: 20px auto;
}

.box input[type="submit"] {
  padding: 14px 30px;

}
.field-validation-valid {
	color: #8F0507;
	font-size: 0.8em;
	font-weight: 700;
}
