body {
  font-family: sans-serif;
  background: #D3D3D3;
}

.box {
  width: 300px;
  height: 300px;
  padding: 40px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  border-radius: 20px;
  opacity: 0.8;
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.4em;
}
.image {
  width: 100px;
  height: 100px;
  background-image: url('check-mark.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}
.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 160px auto;
  padding: 10px 15px;
  text-align: center;
  border: 2px solid #373ACD;
  outline: none;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
}
.box input[type="submit"]:hover {
  background: #7A0FEB;
  transition: 0.35s;
  border: 2px solid #440ABD;
}