@model Category
<form asp-controller="Admin" asp-action="CreateCategory" method="post">
    <input type="text" asp-for="CategoryName"/>
    <br/>
    <input type="text" asp-for="CategoryDescription"/>
    <input type="submit" value="Создать категорию"/>
</form>